html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("../assets/cover.png")
}

#draggables {
    min-height: 100%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color: yellow;
    z-index: 12;
    font-size:200%;
    font-weight: bold;
    font-variant-position: sub;
}

marquee {
    behavior: scroll;
    direction: left;
}

#myCanvas {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
}
