body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

#content {
    z-index: 1;
}

#picture {
    z-index: 2;
    position: fixed;
}

img {
    width: 70%;
}

a {
    font-size: 300%;
}
